.idea
target
promotions.log
*.iml
.cache
.DS_Store
.bsp
.vscode
.metals
.bloop
project/.bloop
project/metals.sbt
project/project
project/
src/test/resources/dump/
src/test/scripts/promos/generated/*
src/test/scripts/output/*
/src/test/resources/log
/src/test/resources/data/dump.rdb
